/* @mixin font-dpr($font-size) {
    font-size: $font-size * 1;
}
// 主色
$primary-color: #282828;

//辅助色
$sub-color:#4f946e; */

:root {
  --primary-color: #282828;
  --sub-color: #4f946e;

  --columnCentered: {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ;
  --rowCentered: {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ;
  --textEllipsis:{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
