{
    "presets": [
        "es2015",
        "stage-3"
    ],
    "plugins": [
        "transform-decorators",
        "transform-class-properties",
        [
            "component",
            [
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
            ]
        ]
    ]
}
