{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "html", "standard", "promise"
  ],
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "strict": "error",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-extra-semi": "warn",
    "semi": [
      "warn",
      "always"
    ],
    "no-console": "warn",
    "no-alert": "error",
    "no-case-declarations": "off",
    "no-class-assign": "off",
    "arrow-parens": 0,
    "generator-star-spacing": 0
  }
}
